html, body {
    overflow-x: hidden;
    font-family: Apple Chancery, cursive;
    height: 100%;
    background-color: #f9e7ca;
}

h1, h2, h3{
    font-family: Apple Chancery, cursive;
    font-variant: normal;
    font-weight: normal;
}

h1 {
    font-size: 72px;
    line-height:100px;
}

#andrisa-pic-button {
    background-color: #82a5ff;
}

#random-image{
    position: fixed;
    z-index: 1;
    width: 50px;
    height: auto;
}
#letter-body {
    border-style: double;
    height: 100%;
    width: 60%;
    background-color: #e4d4f9;
    z-index: 2;
    display:block;

}

.btn-group {
    position: fixed;
    z-index: 3;
    top: 10px;
    right: 40px;
    width: 10%;
    float: right;
}

#paragraph {
    text-indent: 40px;
    font-size: 20px;
}