html, body {
    overflow-x: hidden;
    font-family: Apple Chancery, cursive;
    height: 100%;
    background-color: #f9e7ca;
}

h1, h2, h3{
    font-family: Apple Chancery, cursive;
    font-variant: normal;
    font-weight: normal;
}

h1 {
    font-size: 72px;
    line-height:100px;
}

#magic-button-container{

}

#magic-button {
    
}

#letter-body {
    border-style: double;
    height: 100%;
    width: 60%;
    background-color: #e4d4f9;
}

#paragraph {
    text-indent: 40px;
    font-size: 20px;
}