html, body {
    overflow-x: hidden;
    font-family: Apple Chancery, cursive;
    height: 100%;
}

h1, h2, h3 {
    font-family: Apple Chancery, cursive;
    font-size: 72px;
    font-variant: normal;
    font-weight: normal;
    line-height: 100px;
}

h2 {
    font-size: 46px;
    float: right;
    line-height: 56px;
}   

h3 {
    
    font-size: 36px;
    line-height: 46px;
}

#letter-body {
    height: 100%;
    width: 70%;
    background-color: #e4d4f9;
}